.intro {
	// .intro__container
	&__container {
		position: relative;
		@include adaptiveValue("padding-top", 100, 45);
		display: grid;
		column-gap: rem(48);
		grid-template-columns: auto;

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	// .intro__title-wrapper
	&__title-wrapper {
		margin-top: rem(94);
		margin-bottom: rem(70);
		@media (max-width: $mobile) {
			position: static;
			margin-top: 0;
			margin-bottom: rem(44);
		}
	}
	// .intro__title
	&__title {
		margin-bottom: rem(15);
		@media (max-width: $mobile) {
			margin-bottom: rem(11);
		}
	}
	// .intro__description
	&__description {
		font-family: "Source Sans Pro";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		opacity: 0.5;
	}
	// .intro__slider
	&__slider {
		position: relative;
		grid-row: span 3;
		grid-column: 2;
		@media (max-width: $tablet) {
			grid-column: 1;
			grid-row: span 1;
		}

		@media (max-width: $mobile) {
			padding-left: 0;
		}

		@media (max-width: $mobileSmall) {
			margin-right: -50%;
		}
	}
	// .intro__button
	&__button {
		justify-self: start;

		@media (max-width: $tablet) {
			grid-column: 1;
			grid-row: 3;
			justify-self: center;
			width: 80%;
		}
	}
}
.slider {
	@media (max-width: $mobile) {
		@include adaptiveValue("margin-bottom", 60, 45);
	}
	// .slider__nav
	&__nav {
		position: absolute;
		right: 1%;
		bottom: 5.5%;

		@media (max-width: $mobile) {
			bottom: 24%;
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
}
