.slider {
	position: relative;
	@include adaptiveValue("min-height", 640, 490);
}

.slide {
	background-color: inherit;
	line-height: 100px;
	text-align: center;
	font-weight: bold;
	position: relative;
}
.slick-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(65);
	height: rem(65);
	cursor: pointer;
	outline: 1px solid hsl(72, 5%, 19%, 50%);
	outline-offset: -4px;
	border-radius: 50%;
}
.slick-arrow circle {
	fill: #fff;
	stroke: $mainColor;
	stroke-width: 2;
	stroke-dasharray: 0, 1000px;
	transition: all 0.2s linear;
}
.slick-arrow path {
	stroke-width: 1.7;
	fill: none;
	stroke: $mainColor;
	stroke-linecap: round;
}
.slider__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: rem(65);
	height: rem(65);

	@media (max-width: $tablet) {
		transform: scale(0.76);
	}

	.slick-arrow {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.slider__arrow-icon {
		width: rem(20);
		z-index: 2;
		pointer-events: none;
	}
}

.slick-slide {
	margin-right: 20px;
	box-sizing: border-box;
}

/* Убедитесь, что последний слайд не имеет правого отступа */
.slick-slide:last-child {
	margin-right: 0;
}

.slide__image {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		padding-bottom: calc(350 / 406 * 100%); /* тут подбирается %, чтобы соответствовать нужным пропорциям картинки */
		transition: padding 0.3s ease 0s, margin 0.3s ease 0s;

		.slick-current & {
			padding-bottom: calc(600 / 406 * 100%);
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.intro .slick-slide {
	padding-top: 1%;
	transition: padding 0.3s ease-in-out;
	&.slick-current {
		padding-top: 0px;
	}

	figcaption {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		font-size: rem(14);
		line-height: 1.3;
		text-transform: uppercase;
		font-weight: 400;
		column-gap: rem(8);
		@include adaptiveValue("margin-top", 25, 10);
	}

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #92866c;
		column-gap: rem(8);

		&::after {
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 23'%3E%3Cpath stroke='%2333342F' d='M.6 22.7 13.1 1'/%3E%3C/svg%3E");
			width: rem(14);
			height: rem(23);
			display: block;
		}
	}
}
